{% extends 'bootstrap/base.html' %}

{% block title %}DrugManager{% endblock %}
{#导航栏#}
{% block navbar %}
    <nav class="navbar navbar-default " role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">DrugManager</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Search</a></li>
                </ul>
            </div>
    </nav>
{#页脚#}
    <div class="footer navbar-fixed-bottom">
            <div class="text-center">
                <hr>
                <p>&copy;2019 Guleii</p>
            </div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}