{% extends 'bootstrap/base.html' %}

{% block title %}药品库存管理系统{% endblock %}
{#导航栏#}
{% block navbar %}
    <nav class="navbar navbar-default " role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">药品库存管理系统</a>
            </div>
            <div>
            </div>
    </nav>



{#页脚#}
    <div class="footer navbar-fixed-bottom">
            <div class="text-center">
                <hr>
                <p>&copy;2019 Guleii</p>
            </div>
    </div>
{% endblock %}

{% block content %}


{% endblock %}

